body{
    background:rgb(182, 213, 224, 0.5);
}

/* I've used bg color instead of img, because for some reason URL didn't work properly */

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    vertical-align: middle;
}

#body{
    display: grid;
    margin-top: 110px;
    margin-bottom: 130px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

div#title{
    color: white;
    background-color: #4aaaa5;
    float: left;
    padding: 0 15px 0 15px;
    margin: auto;
}

div.tab ul{
    padding: 0;
    margin: 23px;
    list-style: none;
    float: right;
}

li{
    display: inline;
    margin: 20px;
    color: #777777;
    font-size: larges;
}

h2{
    color: #4aaaa5;
    margin: 20px 15px 10px 15px;
    font-size: xx-large;
    border-bottom: 2px #dddddd solid;
    padding: 0 0 15px 0;
}

div.body-content{
    width: 958px;
    height: auto;
    padding: 0 0 50px 0;
    border: 1px #dddddd solid;
}

img{
    float: left;
    padding: 20px;
    height: 300px;
    width: 300px;
}

p{
    float: inline-end;
    padding: 30px;
}

.footer{
    left: 0;
    bottom: 0;
    background-color: #666666;
    text-align: center;
    vertical-align: bottom;
    position: fixed;
    width: 100%;
    border-top: #4aaaa5 8px solid;
}

.footer p{
    vertical-align: bottom;
    padding: 30px 30px 0 30px;
    color: white;
}

a{
    text-decoration: none;
}

.portfolio-box{
    display: grid;
    grid-template-columns: 350px 350px;
    padding: 0 0 30px 0;
}

.box{
 margin: 0;
 padding: 20px 0;
 }
 
 .box img {
   width: 250px;
   height: 170px;
   border: 0.5px solid silver;
   margin: 15px;
 }


 input[type=text],.form{
     width: 922px;
     margin: 20px auto;
     padding: 10px 0 10px 0;
     color: #777777;
 }

 button{
     background: #4aaaa5;
     color: #ffffff;
     border: 0;
     height: 40px;
     width: 100px;
 }